<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>

    <form method="POST" action="/translate">
      <p><input type="text" name="user_input"></p>
      <input type="submit">
    </form>

  </body>
</html>
